<a href="https://colab.research.google.com/github/Krieg2065/Python/blob/main/matesercitazione.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pymongo
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_json("https://github.com/wtitze/4E/blob/main/comuni_italiani.json?raw=true")

In [3]:
df

                                       _id  ... Ripartizione geografica
0     {'$oid': '619f9ec67727bc651542bb9f'}  ...              Nord-ovest
1     {'$oid': '619f9ec67727bc651542bba0'}  ...              Nord-ovest
2     {'$oid': '619f9ec67727bc651542bba1'}  ...              Nord-ovest
3     {'$oid': '619f9ec67727bc651542bba2'}  ...              Nord-ovest
4     {'$oid': '619f9ec67727bc651542bba3'}  ...              Nord-ovest
...                                    ...  ...                     ...
7902  {'$oid': '619f9ec67727bc651542da7d'}  ...                   Isole
7903  {'$oid': '619f9ec67727bc651542da7e'}  ...                   Isole
7904  {'$oid': '619fa3557727bc651542da80'}  ...              Nord-ovest
7905  {'$oid': '619fa3c57727bc651542da81'}  ...                Nord-est
7906  {'$oid': '619fa3e77727bc651542da82'}  ...                   Isole

[7907 rows x 5 columns]

In [6]:
df.drop(columns="_id",inplace= True)

In [10]:

df.rename(columns={"Denominazione in italiano": "nome", "Denominazione Regione": "regione","Ripartizione geografica": "area"}, inplace=True)

In [11]:
df

                 nome     Provincia                regione        area
0               Agliè        Torino               Piemonte  Nord-ovest
1             Airasca        Torino               Piemonte  Nord-ovest
2        Ala di Stura        Torino               Piemonte  Nord-ovest
3     Albiano d'Ivrea        Torino               Piemonte  Nord-ovest
4              Almese        Torino               Piemonte  Nord-ovest
...               ...           ...                    ...         ...
7902         Villasor  Sud Sardegna               Sardegna       Isole
7903    Villaspeciosa  Sud Sardegna               Sardegna       Isole
7904              NaN        Torino               Piemonte  Nord-ovest
7905              NaN       Gorizia  Friuli-Venezia Giulia    Nord-est
7906              NaN     Agrigento                Sicilia       Isole

[7907 rows x 4 columns]

In [18]:
if df['nome'].isna().sum() > 0:
  print("ci sono {} comuni senza nome".format(df['nome'].isna().sum()))
  df.dropna(subset=['nome'],inplace= True)
else:
  print("Tutti i comuni hanno un nome")

Tutti i comuni hanno un nome

In [45]:
df1 = df.copy()
df1 = df1.groupby(['area']).count()[["nome"]].reset_index().rename(columns={"nome":"totale"}).set_index('area')

In [46]:
df1

            totale
area
Centro         968
Isole          768
Nord-est      1390
Nord-ovest    2995
Sud           1783

In [55]:
df2 = df.groupby('regione').count().reset_index()
df2

                         regione  nome  Provincia  area
0                        Abruzzo   305        305   305
1                     Basilicata   131        131   131
2                       Calabria   404        404   404
3                       Campania   550        550   550
4                 Emilia-Romagna   330        330   330
5          Friuli-Venezia Giulia   215        215   215
6                          Lazio   378        378   378
7                        Liguria   234        234   234
8                      Lombardia  1506       1506  1506
9                         Marche   225        225   225
10                        Molise   136        136   136
11                      Piemonte  1181       1181  1181
12                        Puglia   257        257   257
13                      Sardegna   377        377   377
14                       Sicilia   391        391   391
15                       Toscana   273        273   273
16  Trentino-Alto Adige/Südtirol   282        282   282
17                        Umbria    92         92    92
18  Valle d'Aosta/Vallée d'Aoste    74         74    74
19                        Veneto   563        563   563